@model ShampanExam.Models.QuestionVM.QuestionSetHeaderVM
@{
    ViewBag.Title = "Question Set Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Header -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0"> Question Set List </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                </ol>
            </div>
        </div>
    </div>
</div>

<!-- Filter Accordion -->
@*<div class="container-fluid">
    <div class="accordion" id="filterAccordion">
        <div class="card">
            <div class="card-header p-2" id="filtersHeading">
                <div class="card card-primary">
                    <div class="card-header" id="responseTab">
                        <h3 class="card-title" data-bs-toggle="collapse" data-bs-target="#filtersCollapse" aria-expanded="false" aria-controls="filtersCollapse">
                            Filters
                        </h3>
                    </div>
                </div>
            </div>

            <div id="filtersCollapse" class="collapse" aria-labelledby="filtersHeading" data-bs-parent="#filterAccordion">
                <div class="card-body p-2">
                    @Html.HiddenFor(model => model.BranchId)
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group row">
                        <div class="col-sm-4">
                            @Html.LabelFor(model => model.Branchs)
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.Branchs, new { @class = "KDropDown", @placeholder = "Select Branch...", @style = "height:34px;" })
                            </div>
                        </div>

                        <div class="col-sm-2">
                            @Html.LabelFor(model => model.FromDate)
                            <div class="input-group date">
                                @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control form-control-sm", @placeholder = "From Date..." })
                            </div>
                        </div>

                        <div class="col-sm-2">
                            @Html.LabelFor(model => model.ToDate)
                            <div class="input-group date">
                                @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control form-control-sm", @placeholder = "To Date..." })
                            </div>
                        </div>

                        <div class="col-sm-2" style="margin-top: 26px;">
                            <button type="button" id="indexSearch" class="btn btn-primary btn-sm" style="height:100%">
                                Search
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

<!-- Action Buttons -->
<div class="container-fluid">
    <div class="card">
        <div class="card-header p-2">
            <button type="button" title="Add New" data-url="/Questions/QuestionSets/Create" onclick="GoTo(this)" class="button NewButton addNewButton">
                New
            </button>
            <button type="button" title="Post data" id="btnPost" class="button sslPost">
                Post
            </button>
        </div>
    </div>
</div>

<!-- Grid Section -->
<div class="container-fluid">
    <div class="card card-secondary">
        <div class="card-header">
            <h3 class="card-title">Question Set Info</h3>
        </div>
        <div class="card-body">
            <div id="GridDataList"></div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Areas/Common/js/Services/CommonService.js"></script>
    <script src="~/Areas/Common/js/Services/CommonAjaxService.js"></script>
    @*<script src="~/Areas/Common/js/Services/CommonComboHelper.js"></script>*@
    <script src="~/Areas/Questions/js/Controllers/QuestionSetsController.js"></script>

    <script>
        $(document).ready(function () {
            QuestionSetsController.init();

            var message = '@(TempData["Message"])';
            if (message) {
                alert(message);
                window.close();
            }
        });
    </script>
}
